body{
    padding: 100px;
}

.submit-area{
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

#transaction-area{
    display: none;
}
.deposit{
    background: slateblue;
}
.withdraw{
    background: lightsalmon ;
}
.balance{
    background: orange;
}


@media screen and (max-width: 500px) {
    body {
      padding: 20px;
    }
    #submit-area{
        padding: 1rem;
        margin-top: 2rem;
    }
  }